#mainNav {
  height: 80px;
  width: 100%;
  background-color: rgba(9, 12, 28, .8);
  line-height: 80px;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  #main_logo {
    display: inline-block;
    width: 177px;
    height: 35px;
    background: url(./img/logo-w.png) no-repeat;
    vertical-align: middle;
    margin-left: 63px;
  }
  .main_links {
    height: 100%;
    float: right;
    margin-right: 63px;
    li {
      display: inline-block;
      padding: 33px 21px;
      box-sizing: border-box;
      height: 100%;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 24px;
      letter-spacing: 0px;
      color: #ffffff;
      border-bottom: 3px rgba(0, 0, 0, 0) solid;
      a {
        color: #ffffff;
      }
    }
    .active {
      background-color: rgba(66, 63, 69, 0.4);
      border-image: linear-gradient(-90deg, #f877bf 0%, #159ff2 100%) 1;
      border-width: 3px;
      border-style: solid;
      border-image-slice: 0 0 100% 0;
      border-left: 0;
      border-right: 0;
    }
  }
  #nav_button{
    display: none;
  }
}

.tab_panel {
  width: 100%;
}

#tab_panel1 {
  height: 1079px;
  background: url(./img/banner_bg.png) no-repeat;
  overflow: hidden;
  background-size: cover;
  i {
    display: block;
    width: 337px;
    height: 214px;
    margin: 265px auto 133px;
    background: url(./img/banner.png) no-repeat;
    background-size: 337px 214px;
  }
  p {
    height: 40px;
    font-family: SourceHanSansCN-Light;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
  }
}

.tab_panel_wrap {
  background: url(./img/tab_panel_bg.jpg) no-repeat;
  background-size: cover;
  margin-top: -2px;
  .tab_panel {
    h2 {
      height: 40px;
      font-family: SourceHanSansCN-Regular;
      font-size: 40px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 40px;
      letter-spacing: 0px;
      color: #ffffff;
      margin: 200px auto 17px;
      text-align: center;
    }
    i {
      display: block;
      width: 38px;
      height: 3px;
      background-image: linear-gradient(-90deg, #f877bf 0%, #159ff2 100%);
      margin: 0 auto 131px;
    }
  }
  #tab_panel2 {
    height: 1055px;
    overflow: hidden;
    .tab_panel2_items {
      width: 999px;
      height: 384px;
      box-sizing: border-box;
      margin: 0 auto 83px;
      .tab_panel2_items_title{
        width: 999px;
        height: 76px;
        box-sizing: border-box;
        background-color: rgba(27, 27, 27, 0.7);
        border: solid 2px rgba(0, 117, 169, 0.7);
        font-family: SourceHanSansCN-Regular;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 76px;
        letter-spacing: 0px;
        text-align: center;
        color: #ffffff;
        margin-top: 7px;
      }
      .tab_panel2_items_c{
        width: 999px;
        height: 106px;
        box-sizing: border-box;
        background-color: rgba(27, 27, 27, 0.7);
        border: solid 2px rgba(0, 117, 169, 0.7);
        margin-top: 7px;
        text-align: center;
        h3{
          height: 20px;
          font-family: SourceHanSansCN-Regular;
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 0px;
          letter-spacing: 0px;
          color: #ffffff;
          margin-top: 20px;
        }
        a{
          display: inline-block;
          width: 303px;
          height: 49px;
          background-color: rgba(0, 73, 134, 0.7);
          border: solid 1px rgba(0, 160, 233, 0.7);
          font-family: SourceHanSansCN-Regular;
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 49px;
          letter-spacing: 0px;
          color: #ffffff;
          &:first-of-type{
            margin-right: 15px;
          }
        }
      }
    }
    p {
      width: 1068px;
      font-family: SourceHanSansCN-Normal;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 28px;
      letter-spacing: 0px;
      color: #ffffff;
      text-align: center;
      margin: 0 auto;
    }
  }
  #tab_panel3 {
    overflow: hidden;
    .tab_panel3_item1 {
      width: 995px;
      height: 439px;
      margin: 0 auto 123px;
      .left1 {
        width: 485px;
        height: 95px;
        font-family: SourceHanSansCN-Normal;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 28px;
        letter-spacing: 0px;
        color: #fefefe;
        float: left;
        margin-top: 106px;
      }
      .right1 {
        width: 431px;
        height: 439px;
        float: right;
        background: url(./img/tab_panel3_item1.png) no-repeat;
        p{
          font-family: SourceHanSansCN-Normal;
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 28px;
          letter-spacing: 0px;
          color: #fefefe;
          text-align: center;
          margin-top: 419px;
        }
      }
    }
    .tab_panel3_item2 {
      width: 995px;
      height: 411px;
      margin: 0 auto 218px;
      .left2 {
        width: 425px;
        height: 411px;
        float: left;
        background: url(./img/tab_panel3_item2.png) no-repeat;
        p{
          font-family: SourceHanSansCN-Normal;
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 28px;
          letter-spacing: 0px;
          color: #fefefe;
          text-align: center;
          margin-top: 397px;
        }
      }
      .right2 {
        width: 495px;
        height: 75px;
        font-family: SourceHanSansCN-Normal;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 28px;
        letter-spacing: 0px;
        color: #fefefe;
        float: right;
        margin-top: 185px;
      }
    }
    .tab_panel3_item3 {
      width: 987px;
      height: 416px;
      margin: 0 auto;
      .left3 {
        width: 492px;
        height: 75px;
        font-family: SourceHanSansCN-Normal;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 28px;
        letter-spacing: 0px;
        color: #fefefe;
        float: left;
        margin-top: 144px;
      }
      .right3 {
        background: url(./img/tab_panel3_item3.png) no-repeat;
        width: 448px;
        height: 416px;
        float: right;
        p{
          font-family: SourceHanSansCN-Normal;
          font-size: 20px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 28px;
          letter-spacing: 0px;
          color: #fefefe;
          text-align: center;
          margin-top: 394px;
        }
      }
    }
  }
  #tab_panel4 {
    overflow: hidden;
    .tab_panel4_item {
      width: 999px;
      height: 231px;
      margin: 225px auto 372px;
      .tab_panel4_itemA {
        height: 100%;
        width: 33.33333%;
        display: inline-block;
        vertical-align: top;
        i {
          display: block;
          width: 62px;
          height: 62px;
          margin: 0 auto 30px;
        }
        h3 {
          height: 18px;
          font-family: SourceHanSansCN-Regular;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 26px;
          letter-spacing: 0px;
          color: #ffffff;
          margin: 0 auto 48px;
          text-align: center;
        }
        div {
          height: 46px;
          width: 260px;
          font-family: SourceHanSansCN-Regular;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 26px;
          letter-spacing: 0px;
          color: #ffffff;
          margin: 0 auto;
          text-align: center;
        }
      }
      .tab_panel4_item1 {
        i {
          background: url(./img/tab_panel4_item1.png) no-repeat;
          background-size: 62px;
        }
      }
      .tab_panel4_item2 {
        i {
          background: url(./img/tab_panel4_item2.png) no-repeat;
          background-size: 62px;
        }
      }
      .tab_panel4_item3 {
        i {
          background: url(./img/tab_panel4_item3.png) no-repeat;
          background-size: 62px;
        }
      }
    }
  }
  #tab_panel5 {
    overflow: hidden;
    .tab_panel5_item {
      width: 1240px;
      height: 237px;
      margin: 254px auto 342px;
      background: url(./img/tab_panel5_item.png) no-repeat;
      .tab_panel5_item1{
        margin-left: 198px;
        .tab_panel5_item_c{
          margin-right: 111px;
          &::after{
            bottom: -40px;
          }
          &:nth-of-type(1)::after{
            content: '2018 Q1';
          }
          &:nth-of-type(2)::after{
            content: '2018 Q3';
          }
          &:nth-of-type(3)::after{
            content: '2019 Q1';
          }
          &:nth-of-type(4)::after{
            content: '2019 Q3';
          }
        }
      }
      .tab_panel5_item2{
        margin-left: 70px;
        margin-top: 157px;
        .tab_panel5_item_c{
          margin-right: 111px;
          vertical-align: top;
          &::after{
            top: -40px;
          }
          &:nth-of-type(1)::after{
            content: '2017 Q3';
          }
          &:nth-of-type(2)::after{
            content: '2018 Q2';
          }
          &:nth-of-type(3)::after{
            content: '2018 Q4';
          }
          &:nth-of-type(4)::after{
            content: '2019 Q2';
          }
        }
      }
      .tab_panel5_item_c{
        height: 42px;
        font-family: SourceHanSansCN-Regular;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 26px;
        letter-spacing: 0px;
        color: #ffffff;
        display: inline-block;
        position: relative;
        text-align: center;
        &:last-of-type{
          margin-right: 0;
        }
        &::after{
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
          font-family: SourceHanSansCN-Regular;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 26px;
          letter-spacing: 0px;
          color: #3699eb;
        }
      }
    }
  }
}

#main_footer {
  width: 100%;
  height: 273px;
  background-color: #111111;
  overflow: hidden;
  #main_logo_footer {
    display: block;
    width: 159px;
    height: 32px;
    background: url(./img/logo-w.png) no-repeat;
    background-size: 159px 32px;
    margin: 65px auto 55px;
  }
  ul {
    width: 220px;
    height: 20px;
    margin: 0 auto 51px;
    li {
      display: inline-block;
      margin-right: 44px;
      font-size: 22px;
      a:link::before{
        color: #3c3c3c;
      }
      a:active::before{
        color: #fff;
      }
      a:hover::before{
        color: #fff;
      }
    }
    li:last-of-type {
      margin-right: 0;
    }
  }
  small {
    display: block;
    width: 220px;
    height: 13px;
    font-family: SourceHanSansCN-Light;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: 0px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 960px){
  #mainNav{
    height: 56px;
    line-height: 56px;
    #main_logo {
      width: 154px;
      height: 30px;
      background: url(./img_mobile/logo-w.png) no-repeat;
      margin-left: 20px;
    }
    #nav_button{
      display: block;
      width: 30px;
      height: 23px;
      background: url(./img_mobile/nav_button.png) no-repeat;
      float: right;
      margin: 16px 20px 0 0;
    }
    .main_links{
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      transition: all 0.2s ease;
      transform-origin: top;
      transform: translate3d(0, 0, 0);
      transform: scaleY(0);
      li {
        display: block;
        padding: 21px 27px;
        box-sizing: border-box;
        height: 57px;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 24px;
        letter-spacing: 0px;
        color: #ffffff;
        border-top: 1px #444 solid;
        text-align: right;
        background: rgba(0, 0, 0, .8);
        a {
          color: #ffffff;
        }
      }
      .active {
        background: rgba(0, 0, 0, .8);
        border: none;
        border-top: 1px #444 solid;
      }
    }
    .showNav{
      transform: scaleY(1)
    }
  }
  #tab_panel1 {
    height: 275px;
    background: url(./img_mobile/banner_bg.png) no-repeat;
    overflow: hidden;
    background-size: cover;
    i {
      display: block;
      width: 92px;
      height: 59px;
      margin: 95px auto 32px;
      background: url(./img_mobile/banner.png) no-repeat;
      background-size: 92px 59px;
    }
    p {
      height: 15px;
      font-family: SourceHanSansCN-Light;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 16px;
      letter-spacing: 0px;
      color: #ffffff;
      text-align: center;
    }
  }
  .tab_panel_wrap {
    background: url(./img_mobile/tab_panel_bg.png) no-repeat;
    background-size: cover;
    margin-top: -2px;
    .tab_panel {
      h2 {
        height: 20px;
        font-family: SourceHanSansCN-Regular;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 20px;
        letter-spacing: 0px;
        color: #ffffff;
        margin: 64px auto 7px;
        text-align: center;
      }
      i {
        display: block;
        width: 20px;
        height: 3px;
        background-image: linear-gradient(-90deg, #f877bf 0%, #159ff2 100%);
        margin: 0 auto 60px;
      }
    }
    #tab_panel2 {
      height: 495px;
      overflow: hidden;
      .tab_panel2_items {
        width: 320px;
        height: 185.6px;
        box-sizing: border-box;
        margin: 0 auto 38px;
        .tab_panel2_items_title{
          width: 320px;
          height: 35.2px;
          box-sizing: border-box;
          background-color: rgba(27, 27, 27, 0.7);
          border: solid 2px rgba(0, 117, 169, 0.7);
          font-family: SourceHanSansCN-Regular;
          font-size: 13px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 35.2px;
          letter-spacing: 0px;
          text-align: center;
          color: #ffffff;
          margin-top: 2px;
        }
        .tab_panel2_items_c{
          width: 320px;
          height: 56px;
          box-sizing: border-box;
          background-color: rgba(27, 27, 27, 0.7);
          border: solid 2px rgba(0, 117, 169, 0.7);
          margin-top: 2px;
          text-align: center;
          h3{
            height: 13px;
            font-family: SourceHanSansCN-Regular;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0px;
            letter-spacing: 0px;
            color: #ffffff;
            margin-top: 11px;
          }
          a{
            display: inline-block;
            width: 144px;
            height: 24px;
            background-color: rgba(0, 73, 134, 0.7);
            border: solid 1px rgba(0, 160, 233, 0.7);
            font-family: SourceHanSansCN-Regular;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 24px;
            letter-spacing: 0px;
            color: #ffffff;
            &:first-of-type{
              margin-right: 7px;
            }
          }
        }
      }
      p {
        width: 355px;
        font-family: SourceHanSansCN-Normal;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 19.6px;
        letter-spacing: 0px;
        color: #ffffff;
        text-align: center;
        margin: 0 auto;
      }
    }
    #tab_panel3 {
      overflow: hidden;
      .tab_panel3_item1 {
        width: 364px;
        height: 297px;
        margin: 0 auto 91px;
        .left1 {
          width: 355px;
          height: 36px;
          font-family: SourceHanSansCN-Normal;
          font-size: 15px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 19.6px;
          letter-spacing: 0px;
          color: #fefefe;
          float: none;
          margin: 17px auto 0;
          text-align: center;
        }
        .right1 {
          width: 247px;
	        height: 240px;
          background: url(./img_mobile/tab_panel3_item1.png) no-repeat;
          float: none;
          margin: 0 auto;
          overflow: hidden;
          p{
            margin-top: 209px;
            font-size: 15px;
          }
        }
      }
      .tab_panel3_item2 {
        width: 355px;
        height: 290px;
        margin: 0 auto 88px;
        .left2 {
          width: 242px;
	        height: 234px;
          background: url(./img_mobile/tab_panel3_item2.png) no-repeat;
          background-size: 242px 234px;
          float: none;
          margin: 0 auto 22px;
          overflow: hidden;
          p{
            margin-top: 212px;
            font-size: 15px;
          }
        }
        .right2 {
          width: 355px;
          height: 55px;
          font-family: SourceHanSansCN-Normal;
          font-size: 15px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 19.6px;
          letter-spacing: 0px;
          color: #fefefe;
          float: none;
          margin: 0 auto;
          text-align: center;
        }
      }
      .tab_panel3_item3 {
        width: 355px;
        height: 383px;
        margin: 0 auto;
        .left3 {
          width: 355px;
          height: 36px;
          font-family: SourceHanSansCN-Normal;
          font-size: 15px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 19.6px;
          letter-spacing: 0px;
          color: #fefefe;
          float: none;
          margin: 0 auto;
          text-align: center;
        }
        .right3 {
          background: url(./img/tab_panel3_item3.png) no-repeat;
          background-size:314px 247.2px;
          width: 314px;
          height: 307px;
          float: none;
          margin: 0 auto;
          overflow: hidden;
          p{
            margin-top: 272px;
            font-size: 15px;
          }
        }
      }
    }
    #tab_panel4 {
      overflow: hidden;
      .tab_panel4_item {
        width: 338px;
        height: 592px;
        margin: 0 auto;
        .tab_panel4_itemA {
          height: 147px;
          width: 100%;
          display: inline-block;
          vertical-align: top;
          margin-bottom: 58px;
          i {
            display: block;
            width: 46px;
            height: 46px;
            margin: 0 auto 20px;
          }
          h3 {
            height: 12px;
            font-family: SourceHanSansCN-Regular;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 19.6px;
            letter-spacing: 0px;
            color: #ffffff;
            margin: 0 auto 33px;
            text-align: center;
          }
          div {
            height: 34px;
            width: 260px;
            font-family: SourceHanSansCN-Regular;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 19.6px;
            letter-spacing: 0px;
            color: #ffffff;
            margin: 0 auto;
            text-align: center;
          }
        }
        .tab_panel4_item1 {
          i {
            background: url(./img/tab_panel4_item1.png) no-repeat;
            background-size: 46px;
          }
        }
        .tab_panel4_item2 {
          i {
            background: url(./img/tab_panel4_item2.png) no-repeat;
            background-size: 46px;
          }
        }
        .tab_panel4_item3 {
          i {
            background: url(./img/tab_panel4_item3.png) no-repeat;
            background-size: 46px;
          }
        }
      }
    }
    #tab_panel5 {
      overflow: hidden;
      .tab_panel5_item {
        width: 364px;
        height: 1240px;
        margin: 0 auto 132px;
        background: url(./img_mobile/tab_panel5_item.png) no-repeat;
        background-position: center;
        .tab_panel5_item1{
          margin-left: 0;
          width: 141.4px;
          float: right;
          vertical-align: top;
          margin-top: 296px;
          .tab_panel5_item_c{
            margin-right: 0px;
            text-align: left;
            &::after{
              top: -40px;
              text-align: left;
            }
            &:nth-of-type(1)::after{
              content: '2018 Q1';
            }
            &:nth-of-type(2)::after{
              content: '2018 Q3';
            }
            &:nth-of-type(3)::after{
              content: '2019 Q1';
            }
            &:nth-of-type(4)::after{
              content: '2019 Q3';
            }
          }
        }
        .tab_panel5_item2{
          margin-left: 0px;
          margin-top: 158px;
          width: 141.4px;
          float: left;
          .tab_panel5_item_c{
            margin-right: 0px;
            text-align: right;
            &::after{
              top: -40px;
              text-align: right;
            }
            &:nth-of-type(1)::after{
              content: '2017 Q3';
            }
            &:nth-of-type(2)::after{
              content: '2018 Q2';
            }
            &:nth-of-type(3)::after{
              content: '2018 Q4';
            }
            &:nth-of-type(4)::after{
              content: '2019 Q2';
            }
          }
        }
        .tab_panel5_item_c{
          height: 42px;
          font-family: SourceHanSansCN-Regular;
          font-size: 15px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 19.6px;
          letter-spacing: 0px;
          color: #ffffff;
          display: block;
          position: relative;
          margin-bottom: 234px;
          &:last-of-type{
            margin-bottom: 0;
          }
          &::after{
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            font-family: SourceHanSansCN-Regular;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 26px;
            letter-spacing: 0px;
            color: #3699eb;
          }
        }
      }
    }
  }
}